.footer{
    padding-top: 15rem;
    position: relative;
    // background: url(../img/footer-bg.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: center center;
    @media only screen and (max-width: $laptop-land){
        background: #F1FBFF;
        padding-top: 5rem;
        margin-top: 10rem;
        box-shadow: 0 -1rem 5rem rgba($color-secondary, .2);
    }
    &__flex{
        display: flex;
        justify-content: center;
        // align-items: center;
        @media only screen and (max-width: $laptop-port){
            flex-wrap: wrap;
            justify-content: start;
        }
    }

    .footer__menus{
        flex: 0 0 60%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        @media only screen and (max-width: $laptop-port){
            flex:0 0 100%;
            margin-bottom: 4rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            grid-gap: 4rem;
        }

        &-item{
            h4.heading{
                margin-bottom: 2rem;
            }

            .footer__menu{
                li a{
                    font-size: 1.4rem;
                    font-weight: 300;
                    display: inline-block;
                    margin-bottom: 1rem;
                    color: $text;
                    transition: all .3s;

                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
    }

    &__content{
        flex: 0 0 40%;
        padding-right: 2rem;
        @media only screen and (max-width: $laptop-port){
            flex: 0 0 100%;
            
        }
    }

    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @media only screen and (max-width: $laptop-land){
            display: none;
        }
    }

}